<div class="sticky-cont" style="position:sticky;">
    <nav class="nav1-main-container nav-main-container">
        <div class="toggler toggler1">
            <button class="tgl-btn">
                <img width="50" src="{{ asset('assets/general/img/logo/Star_Wars_Logo..png') }}" />
            </button>
        </div>
        <ul class="nav1-container nav-container">
            <li class="nav1-item nav-item"><a href="{{ url('view_characters_frontend') }}" class="nav-link nav1-link neon-w">Characters</a></li>
        </ul>
    </nav>
</div>