{% set current_path = app.request.get('_route') %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand ps-5" href="{{url('view_home_frontend')}}">
      <img src="{{asset("assets/general/img/logo/Star_Wars_Logo..png")}}" alt="" width="50" height="44">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{current_path == 'view_characters_frontend' ? 'active'}} "
            href="{{url('view_characters_frontend')}}">Characters</a>
        </li>
        {# <form class="d-flex navbar-right ml-auto">
          <button class=" m-1 btn btn-outline-success" type="submit">Login</button>
          <button class=" m-1 btn btn-outline-danger" type="submit">Logout</button>
        </form> #}
      </ul>
    </div>
  </div>
</nav>