<footer class="footer bg-dark">
    <div class="container  d-flex flex-column">
        <div class="row">
            <div class="col-md-8">
                <span><small>Todos los derechos Reservados</small>®</span>
                <i><small>Start Wars</small>™</i>
            </div>
        </div>
    </div>
</footer>